@using Entity.Concrate
@model List<Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCategoryList</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="padding:8px">

    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Adı</td>
                    <td>Açıklama</td>
                    <td>Durum</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td>@item.CategoryDescription</td>
                        <td>@item.CategoryStatus</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Category/AddCategory" class="btn btn-success">Yeni Kategori</a>
    </div>

</body>
</html>
